.landing{

    width: 100vw;
    height: 100vh;

    background-color: rgb(8, 8, 8);
    color: blue;


    .logo{
        width: 150px;
        height: 100px;
    
        .image{
            width: 150px;
            height: 100px;
        }
    }

    .landinfo{

        height: 80%;

        display: flex;
        justify-content: center;
        align-items: center;

        .landbaby{

            box-shadow: 10px 10px 10px 10px rgba(116, 112, 170, 0.25);
            border-radius: 10px;

            .landinfo1{

                font-size: xx-large;
            }
            
            .landinfo2{

                font-style: italic;
                font-size: larger;

                padding-left: 100px;
            }

        }
    }
    
    
}

.emails{

    margin-top: 65px;
    padding-left: 150px;

            background-color: black;
            color: white;
            border: none;
            box-shadow: 0px 0px 10px 10px rgba(116, 112, 170, 0.25);
            border-radius: 7px;

}

.sign{


    width: 100px;

    background-color: black;
    color: blue;

    border: none;
    box-shadow: 0px 0px 10px 10px rgba(116, 112, 170, 0.25);
    border-radius: 7px;

}

