.home{

    height: 100vh;
    
    background-color: rgb(102,99,236);
    color: white;

    border-radius: 80px;
}

.rest{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.btxt{
    
    font-size: 80px;
    
}


.stxt{

    text-align: center;
}

.mtxt{

    display: flex;
    justify-content: center;

    >*{

        >*{
        
        margin: 40px;
        width: 100px;
        height: 50px;
        border-radius: 10px;
        border: 1px solid rgb(85, 162, 165);
        background-color: white;
        color: black;

        
        }
        
    }

    
}

/* button:hover{
    background-color: white;
    color: black;
} */

.homeim{

    display: flex;
    justify-content: center;
    /* margin-top: 40px; */
    gap: 40px;

}

.homeimg{

    border-radius: 50%;
    width: 100px;
    height: 180px;
    margin-top: 30px;
}


.homimg{

    border-radius: 50%;
    width: 170px;
    height: 250px;
}

.home2{

    height: 100vh;
    
    background-color: aliceblue;
    color: black;

    padding: 30px;

    border-radius: 80px;

}

.homecont{

    display: flex;
    flex-direction: row;
    
}

.btxt2{

    font-size: 60px;
    width: 500px;
}

.homebox{

    display: flex;
    justify-content: center;

    .homebox1{

        background-color: rgb(102,99,236);
        border-radius: 20px;

        width: 65%;
        height: 350px;

        padding: 20px;

        margin: 30px;


    }

    
}


.homeimg1{

    border-radius: 10px;
    width: 100px;
    height: 150px;
}

.homeimg2{

    margin: 0 20px 50px 20px;
    border-radius: 10px;
    width: 100px;
    height: 150px;

}

.homeimg3{

    margin: 0 20px 70px 20px;
    border-radius: 10px;
    width: 100px;
    height: 150px;

}

.homeimg4{

    margin: 0 20px 90px 20px;
    border-radius: 10px;
    width: 100px;
    height: 150px;

}

.arrowr{

    margin: 200px 0px 0px 100px;
    display: flex;
    align-items: flex-end;

    >*{
        width: 50px;
        height: 50px;
        color: rgb(102,99,236);
    
    }

    
}
