.clubpage{
    background-color: aliceblue;

    /* .banner{
    
        border-radius: 50px;
        background-color: rgb(102,99,236);

        width: 30%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 20px;

    } */
    
}

.club{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background-color: aliceblue;
    font-size: 15px;
   
    padding: 50px;
}

.clubs{

   width: 300px;
    height: 350px;
    /* display: flex; */
    border: 1px solid grey;

}

.bookimg{
    width: 150px;
    height: 150px;

    border-radius: 50%;
}

.clubcont{

    color: black;
    font-size: smaller;
    
    padding-left: 20px;

}

.names{

    color: black;
    font-size: medium;
}

.join{

        width: 100px;
        margin: 5px;

        border: none;
        border-radius: 3px;
        background-color: rgb(215,219,219);

    
}

/* button:hover{

    width: 90px;
    height: 40px;
} */

.arrow{

    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin: 90px;

    >*{
        
    width: 50px;
    height: 50px;
    color: rgb(102,99,236);

    }
}